@use 'webcoreui/styles' as *;
@use 'webcoreui/config' as *;
@include setup((
    fontRegular: '/fonts/Inter-Regular.woff2',
    fontBold: '/fonts/Inter-Bold.woff2',
    theme: 'light'
));

.container {
    @include spacing(auto-default);
}
